<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SSU IT 세미나 - AngularJS</title>
		<meta name="description" content="SSU IT 세미나 - AngularJS">
		<meta name="author" content="Jeado Ko">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">
		<link rel="stylesheet" href="css/super.css">
		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
		<style type="text/css">
		.reveal span.pink{
			color: white;
			background: #ff5e99;
			text-shadow: none;
			}
		</style>
		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<img src="images/it_seminar.png" alt="">
					<br>
					<h2>AngularJS를 <span class="blue">소개합니다!</span></h2>
					<br>
					<p>
					<a href="https://plus.google.com/111326406112009421991">고재도</a>@<a href="https://plus.google.com/communities/109067040035659120428">GDG Korea WebTech</a>
					</p>
				</section>
				<section data-state="normal">
					<h2>고재도</h2>
					<br>
					<ul>
						<li><p style="padding-bottom: 10px;">
							<a href="https://plus.google.com/communities/109067040035659120428">GDG Korea WebTech</a> 운영자
							</p>
						</li>
						<li>
							<p><a href="http://book.naver.com/bookdb/book_detail.nhn?bid=7545225">시작하세요 AngularJS 프로그래밍</a> 집필</p>
							<img src="images/angularbook.jpg" alt="">
						</li>
						<li>
							전자정부 프레임워크 커미터
						</li>
						<li>
							<p>kt 소프트웨어 개발센터, IoT 플랫폼 개발</p>
						</li>
					</ul>
					<br>
					<p style="padding-top: 10px;">
					<small style="text-align :right; display:block;">haibane84@gmail.com</small>
					<small style="text-align :right; display:block;">https://plus.google.com/+JeadoKo/</small>
					</p>
				</section>
				<section data-state="normal">
					<img src="images/angularjs.png" alt="">
				</section>
				<section data-state="normal">
					<section>
						<h2>우리가 만들 수 있는 것</h2>
						<p>What can we built with AngularJS ?</p>
					</section>
					<section>
						<h2>Gmail</h2>
						<img src="img/2-2.png" alt="gmail">
					</section>
					<section>
						<h2>Any.Do Chrome App</h2>
						<img src="images/any.do.png" alt="gmail">
					</section>
					<section>
						<h2>Mobile Web App</h2>
						<a href="http://coenraets.org/apps/angular-directory/#/employees" target="_blank">
						<img src="images/mobile.png" alt="gmail">
						</a>
					</section>
					<section>
						<h2>Web App</h2>
						<hr>
						<p>Single Page Web App</p>
						<p>Chrome App</p>
						<p>Mobile Web App</p>
						<p>Anyting on Browsers</p>
					</section>
				</section>

				<section data-state="normal">
					<section>
						<h3>Web App 개발 시 고려할 점</h3>
						<img src="img/3-1.png" alt="Web Applicaiton개발시 고려할 점">
					</section>
					<section>
						<img style="z-index:999; position: absolute; top: 180px; left: 290px;" src="images/stress.png">
						<img src="img/3-1.png" alt="Web Applicaiton개발시 고려할 점">
					</section>
				</section>

				<section data-state="normal">
					<section>
						<p style="background-color: white;">
						<img src="images/image4.png" style="box-shadow:none; border : none;">
						</p>
					</section>

					<section>
						<h3>An overview of AngularJS</h3>
						<br>
						<p>Google이 만든 웹 어플리케이션을 위한 <br> Structural Framework</p>
						<br>
						<p>
						<ul>
							<li>양방향 데이터 바인딩</li>
							<li>MVW</li>
							<li>Template</li>
							<li>Directive를 통한 컴포넌트 재사용</li>
							<li>의존성 주입 (DI)</li>
							<li>E2E 테스팅 및 Mocks</li>
							<li>...</li>
						</ul>
						</p>
						<br>
						<p>
						CRUD Apps 필수 기능 제공을 통한
						<br>
						어플리케이션 개발의 단순화
						</p>
					</section>
				</section>

				<section>
					<section>
						<h2>양방향 데이터 바인딩</h2>
						<br>
						<p>예제를 통해 알아봐요!</p>	
						<img src="images/databinding-examples.png">
					</section>
					<section>
						<h2>jQuery 예제</h2>
<pre>
<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
  <input id="toggleShowHide" type="checkbox">
<div id="specialParagraph">
 위의 체크박스를 클릭하면 보시는 내용은 숨겨질 것입니다.
</div>
</code>
</pre>
<pre>
<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<script>
$(function() {
 function toggle() {   
  var isChecked = $('#toggleShowHide').is(':checked');
  var specialParagraph = $('#specialParagraph');
  if (!isChecked) { specialParagraph.show(); } 
  else { specialParagraph.hide();  }
 }

 $('#toggleShowHide').change(function() {
  toggle();
 });

 toggle();
});
</script>
</code>
</pre>
					</section>
					<section>
						<h2>AngularJS 예제</h2>
<pre>
<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
<input ng-model="showSpecial" type="checkbox">
<div ng-hide="showSpecial">
 위의 체크박스를 클릭하면 보시는 내용은 숨겨질 것입니다.
</div>
</code>
</pre>
						<img src="images/databinding.png" style="background:white; padding: 20px;"alt="양방향 데이터 바인딩">
					</section>
				</section>
<section data-state="normal">
					<section>
						<h2>MVC 구조 제공</h2>
						<img src="images/mvc.png" style="background:white; padding: 20px;"alt="양방향 데이터 바인딩">
					</section>
<section>
						<h2>MVC 구조가 없는 코드</h2>
						<h4>HTML</h4>
							<pre>
							<code data-trim contenteditable style="font-size: 18px;">
<div id="search-panel">
 <label>부서</label>
 <select class="dept-dropbox"><option value="">선택</option></select>
 <label>직급</label>
 <select class="pos-dropbox"><option value="">선택</option></select>
 <button id="sFind">검색</button>
</div>
<div id="gridPanel">
 <table>
  <thead>
   <tr><td>사번</td><td>이름</td><td>부서</td></tr>
  </thead>
  <tbody></tbody>
 </table>
</div>
							</code>
						</pre>
					</section>
					<section>
						<h2>MVC 구조가 없는 코드</h2>
						<h4>JavaScript</h4>
						<pre>
							<code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
// listData를 이용하여 dropBox(select)의 option을 구성한다.
function makeDropBox(dropbox, listData){
 var option;
	
 if(listData){
  for(var i = 0, length = listData.length; i < length; i++) {
   option = document.createElement("option");
   option.value = listData[i].cdDetailNo;
   option.text = listData[i].cdDetailName;
   dropbox.options.add(option);
  }
 }
};

var searchPanel = document.getElementById("search-panel");
var deptDropbox = searchPanel.getElementsByClassName("dept-dropbox")[0];
var posDropbox = searchPanel.getElementsByClassName("pos-dropbox")[0];
var sUserId = document.getElementById("sUserId");
var sUserNm = document.getElementById("sUserNm");
var sFind = document.getElementById("sFind");

makeDropBox(deptDropbox, [
 { cdDetailNo: '001', cdDetailName: '부서A'},
 { cdDetailNo: '002', cdDetailName: '부서B'}
]);		

makeDropBox(posDropbox, [
 { cdDetailNo: '001', cdDetailName: '사원'},
 { cdDetailNo: '002', cdDetailName: '대리'}
]);
	
	
// 조회버튼에 이벤트 등록
//document.getElementById("sFind").onclick = function(){
sFind.onclick = function(){
 // 조회 버특 클릭 시 인사 정보 조회
 $.ajax(urlUserList)
  // 인사 정보 조회 후 처리
  .success(function(jsonData){
   // masterView를 이용하여 grid 정보 갱신
   setGridData(jsonData.USER_DS);
  });
};

var gridColumn = ["userId", "userNm", "deptCd"];
var grid = document.getElementById("gridPanel").getElementsByTagName("table")[0];
var gridBody = grid.children[1];
 
function setGridData(listData){
 var list = "";
 gridData = listData;
 if(listData){
  for(var i = 0, length = listData.length; i < length; i++) {
   list += "&lt;tr&gt;";
   for(var j = 0, length2 = gridColumn.length; j < length2; j++) {
    list += "&lt;td&gt;";
    list += listData[i][gridColumn[j]] || " ";
    list += "&lt;/td&gt;";
   }
   list += "&lt;/tr&gt;";
  }
}

 gridBody.innerHTML = list; // 값 변경
};
</code>
</pre>
					</section>
					
					<section>
						<h3>MVC 구조화된 코드</h3>
								<h5>HTML (Template)</h5>
							<pre>
							<code data-trim contenteditable style="font-size: 18px;">
<div ng-controller="userMgtCtr">
<div>
 <label>부서</label>
 <select ng-model="sObj.deptId" ng-options="d.deptId as d.deptNm for d in deptList">
 </select>
 <label>직급</label>
 <select ng-model="sObj.posId"
 	ng-options="p.posId as p.posNm for p in posList">
 </select>
 <button ng-click="find(sObj)">검색</button>
</div>
<div>
 <table>
  <thead>
   <tr><td>사번</td><td>이름</td><td>부서</td></tr>
  </thead>
  <tbody>
   <tr ng-repeat="user in userList">
    <td>{{user.userId}}</td><td>{{user.userNm}}</td><td>{{user.deptCd}}</td>
   </tr>
  </tbody>
 </table>
</div>
</div>
							</code>
						</pre>
					</section>
				<section>
						<h2>MVC 구조화된 코드</h2>
						<h4>JavaScript (Controller)</h4>
							<pre>
							<code data-trim contenteditable style="font-size: 18px;">
function userMgtCtr ($scope,$http) {
 $scope.sObj={deptId:'',posId:''};
 $scope.deptList = [
  { deptId: '001', deptNm: '부서A'},
  { deptId: '002', deptNm: '부서B'}
 ];

 $scope.posList = [
  { posId: '001', posNm: '사원'},
  { posId: '002', posNm: '대리'}
 ];

 $scope.find = function (sObj) {
  $http({
   method: 'GET', url: 'user.json',
   params: { deptId: sObj.deptId, posId: sObj.posId }
  })
   .success(function(data, status, headers, config) {
    $scope.userList = data;
   });
 };
}
							</code>
						</pre>
					</section>
</section>
				<section data-state="normal">
					<section>
						<h2>Directive 제공</h2>
					</section>
					<section>
						<h1>directive?</h1>
						<h2>지시자란?</h2>
						<br>
						<p>
						directives are markers on a DOM element (such as an attribute, element name, or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element or even transform the DOM element and its children. (from AngularJS Officail DOC)
						</p>
					</section>

					<section>
						<p>Directive를 통하여 새로운 HTML 문법을 <br> 브라우져들에게 가르칠 수 있다.</p>
						<img src="img/12-5.png" alt="directive example 5">
					</section>
					<section>
						<h2>Built-in Directive</h2>
						<p>a, form, input, <span class="pink">ngApp</span>, ngBind, ngChange, ngClass, <span class="pink">ngClick</span>, <span class="pink">ngController</span>, ngCloak, ngDbclick, ngDisabled, ngHide, ngHref, ngInclude, <span class="pink">ngModel</span>, ngMousedown, <span class="pink">ngRepeat</span>, ngView, ...</p>
					</section>
					<section>
						<h2>Custom Directive - alert</h2>
						<img src="img/12-1.png" alt="directive example 1">
					</section>
					<section>
						<h2>Custom Directive - tabs</h2>
						<img src="img/12-2.png" alt="directive example 2">
					</section>
					<section>
						<h2>Custom Directive - popover</h2>
						<img src="img/12-3.png" alt="directive example 3">
					</section>
					<section>
						<a href="example/directive.html" target="_blank">
							<h2>Directive 사용 DEMO</h2>
						</a>
					</section>
					<section>
					<h3>초간단 hello 지시자</h3>
					<pre style="margin: 0px auto;">
					<code data-trim contenteditable style="font-size: 18px; padding">
&lt;body ng-app="demo"&gt;
 &lt;h1 hello&gt;&lt;/h1&gt;
&lt;/body&gt;
&lt;script type="text/javascript"&gt;
angular.module('demo', []).
 directive('hello', [function () {
  return {
   restrict: 'A',
   link: function (scope, iElement, iAttrs) {
    iElement.append("안녕하세요");
   }
  };
}]);
&lt;/script&gt;
					</code>
					</pre>
						</section>
						
						<section>
							<img src="images/gdg/jqueryVsDirective.png" style="padding: 10px; background: white; height: 500px;">
						</section>
				</section>

	<section>
		<img src="images/gdg/isItExciting.jpg">
	</section>
	<section>
		<h1>QnA</h1>
	</section>
	<section>
		<h1>감사합니다.</h1>
	</section>
</div>
</div>
<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script>
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: true,
		theme: Reveal.getQueryHash().theme,
		transition: Reveal.getQueryHash().transition || 'default',
		dependencies: [
			{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
			{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
			{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
			{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
			{ src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
		]
	});
</script>
</body>
</html>